body {
    margin: 0%;
}
/* avatar image */ 
#avatar {
    width: 40px;
    height: 40px;
  }
/*remove underline link*/
#homelink {
    text-decoration: none;
    color: black;
}
nav ul li a {
    text-decoration: none;
}
#col-1-5 {
    width: 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    position: relative;
}
#tool-navbar {
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 99;
}
#main-container {
    position: relative;;
    width: 100%;
    top: 44px;
}
#left-navbar {
    position: fixed;
    width: 12%;
    top: 134px;
}